li {
  list-style: none;
}

.cardImg {
  border-radius: 10px;
  border: rgb(139, 60, 60) 3px solid;
  width: 270px;
  height: 210px;
  background-color: transparent;
}

.cardContainer {
  margin: 10px 40px;
  background-color: rgb(46, 41, 80, 0.8);
  box-shadow: 4px 2px 10px 1px deeppink;
  height: 450px;
}

.cardContainer:hover {
  background: rgb(209, 37, 129);
}

.cardName {
  padding-top: 20px;
  font-family: monospace;
  font-size: 20px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.cardGenreTitle {
  text-align: center;
  color: rgb(255, 255, 255);
}

.cardGenres {
  text-align: center;
  margin-top: 1rem;
  color: white;
  margin-top: 0rem;
}

.cardRatingTitle {
  text-align: center;
  color: rgb(255, 255, 255);
}

.cardRating {
  color: whitesmoke;
  margin-top: 1px;
  margin-left: 2px;
}

.cardBtn {
  color: white;
  border: 10px rgb(139, 60, 60);
  border-radius: 0.5rem;
  background-color: goldenrod;
  font: bold 30px "Abadi";
  font-weight: 900;
  font-size: 30px;
  margin-bottom: -150px 1px;
  margin-right: -700px;
  width: 85px;
  justify-content: center;
  text-align: center;
  opacity: 0.8;
}
