body {
  background-image: url("https://i.ibb.co/xGWfzbQ/game.jpg");
}

.homeReloadBtn {
  border: 1px solid rgb(209, 37, 129);
  background-color: rgb(209, 37, 129);
  font-family: fantasy;
  font-size: 25px;
  margin-top: 20px;
  padding: 0px 40px 0px 40px;
  cursor: pointer;
  border: solid black;
}

.homeReloadBtnContainer {
  margin-left: 1rem;
}

.homeCardGrid {
  display: grid;
  grid-gap: 1rem 3.5rem;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  margin-right: 20px;
}

.homePagination {
  cursor: pointer;
}

.homePaginationText {
  font-family: fantasy;
  color: rgb(8, 8, 8);
  text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 25px rgb(139, 60, 60),
    0 0 25px rgb(139, 60, 60), 0 0 25px rgb(139, 60, 60),
    0 0 25px rgb(139, 60, 60);
  font-size: 1.5rem;
}

.filterContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: fantasy;
}

.filter {
  background-color: rgb(46, 41, 80, 0.8);
  border: 1px solid deeppink;
  height: 30px;
  overflow: hidden;
  width: 200px;
  position: relative;
  cursor: pointer;
  margin: 0 5px;
  font-family: fantasy;
}

.select {
  background: transparent;
  border: none;
  font-size: 18px;
  height: 30px;
  padding: 5px;
  width: 215px;
  color: deeppink;
  font-family: fantasy;
}

.option {
  font-family: fantasy;
}
