.landingPage {
  height: 929px;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  background-image: url("https://i.ibb.co/xGWfzbQ/game.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.flex {
  display: flex;
  flex-direction: column;
  margin-left: 58%;
  margin-top: 150px;
}

.span {
  text-align: start;
  font-size: 25px;
  color: whitesmoke;
  margin: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.landingTitle {
  text-align: start;
  margin-left: 3%;
  color: deeppink;
  text-decoration: underline deeppink;
}

.landingBtn {
  transform: rotate(-24deg);
  margin-top: 10px;
  margin-right: 600px;
  background-color: transparent;
  border-color: deeppink;
  width: 350px;
  font-size: 30px;
  cursor: pointer;
  color: deeppink;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 5px;
  letter-spacing: 2px;
}

.landingBtn:hover {
  background-color: deeppink;
  color: whitesmoke;
}
