.navCreateContainer {
  margin-top: 3rem;
  margin-left: 1rem;
  justify-content: center;
}

.navCreateBtn {
  border: 1px solid rgb(209, 37, 129);
  background-color: rgb(209, 37, 129);
  font-family: fantasy;
  font-size: 25px;
  margin-top: 20px;
  padding: 0px 40px 0px 40px;
  cursor: pointer;
  border: solid black;
}

.navBarTitle {
  font-family: fantasy;
  color: rgb(209, 37, 129);
  font-size: 50px;
}
