.navCreateContainer {
  margin-top: 3rem;
  margin-left: 1rem;
  justify-content: center;
}

.navCreateBtn {
  text-decoration: none;
  color: goldenrod;
  justify-content: center;
}

.navBarTitle {
  color: black;
  text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 25px rgb(139, 60, 60),
    0 0 25px rgb(139, 60, 60), 0 0 25px rgb(139, 60, 60),
    0 0 25px rgb(139, 60, 60);
  font-size: 4rem;
}
