.searchContainer {
  align-content: center;
  align-items: center;
  align-content: center;
  align-items: center;
}

.search {
  border: 1px solid transparent;
  font-family: fantasy;
  font-size: 20px;
  margin-bottom: 20px;
  height: 40px;
  width: 350px;
  border: solid black;
}
.search::placeholder {
  font-size: 18px;
}

.searchBtn {
  color: white;
  background-color: white;
  font-family: fantasy;
  font-size: 20px;
  cursor: pointer;
  height: 46px;
}
